::-webkit-scrollbar{
    width: 15px;
    
}
::-webkit-scrollbar-thumb{
    background-image:linear-gradient(124deg, rgba(13,71,161,1) 15%, rgba(67,173,72,1) 76%);
    border-radius: 30px;
}
::-webkit-scrollbar-track{
    background-image: linear-gradient(to right,#222,#333,#444,#555,#444,#333,#222);
    border:1px solid #888;

}
.App{
    overflow:hidden;
}